section.intro._rus
  .site-container.intro__container
    span.intro__sublegend Сайт обновляется
    h1.intro__legend Оставайтесь с&nbsp;нами
    a(href="assets/files/Импорт_ОАЭ.pdf" target="_blank" class="intro__link button _dark") Узнать подробнее

