*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  line-height: 1.2;

  @include mq(custom, min, 1999) {
    font-size: 15px;
  }

  @include mq(custom, max, 1536) {
    font-size: 9px;
  }

  @include mq(custom, max, 1366) {
    font-size: 8px;
  }

  @include mq(custom, max, 992) {
    font-size: 7px;
  }

  @include mq(sm) {
    font-size: 10px;
  }

  @include mq(custom, max, 360) {
    font-size: 9px;
  }
}

body {
  color: var(--color-white);
  font: var(--font-s);
  background-color: var(--color-bg);
}

ul,
ol {
  list-style: none;
}

ol {
  counter-reset: ordered-list;

  &>li {
    counter-increment: ordered-list;

    &::before {
      content: counter(ordered-list, decimal-leading-zero) '.';
    }
  }
}

input,
textarea {
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
  background-color: transparent;
  display: block;
}

input:not([type='checkbox']):not([type='radio']) {
  appearance: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  box-shadow: none;
  display: block;
  width: 100%;
  overflow: auto;
  height: 20rem;
  @include customScrollbar();
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

input[type='search'] {
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  -webkit-appearance: none;
  font: inherit;
  color: inherit;
  outline: none;
  display: inline-flex;
  position: relative;
  transition: color 0.2s;
  padding: 0;
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  transition: color 0.2s;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

svg {
  flex-shrink: 0;
  display: block;

  user-select: none;
  fill: currentColor;
  transition: fill 0.2s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent;
}

.list-rest {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.site-container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 var(--content-offset);

  @include mq(custom, min, 1999) {
    max-width: 1920px;
  }

  @include mq(custom, min, 1680) {
    max-width: 1440px;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.page-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.disable-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.section {
  margin-bottom: 12.2rem;

  @include mq(sm) {
    margin-bottom: 6rem;
  }
}

.site-heading {
  font: var(--font-xl);

  &._dark {
    color: var(--color-dark-blue);
  }

  @include mq(sm) {
    font: var(--font-s);
    font-weight: 700;
  }
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}


.js-anim-fade-out {
  opacity: 0;
  visibility: hidden;
  transform: translateY(5rem);
}

.fade-out {
  opacity: 1;
  visibility: inherit;
  transition: opacity .4s, visibility .4s, transform .4s ease-out;
  transform: translateY(0);
}

.site-line {
  position: relative;

  &::before {
    position: absolute;
    top: 61%;
    left: calc(100% + 1.9rem);
    width: 7.4rem;
    height: 0.4rem;
    background: linear-gradient(90deg, #52A863 1.2%, #2AB7FF 102.89%);
    transform: translateY(-50%);
    content: "";
  }

  @include mq(sm) {
    &::before {
      width: 4.2rem;
      left: calc(100% + 1.6rem);
      height: 0.2rem;
    }
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-btn {
  height: 4rem;
  width: 6rem;
  background-color: var(--color-green);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.8rem;

  @include mq(sm) {
    width: 5rem;
    height: 3rem;
  }

  &.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
  }

  &:nth-child(1) {
    .icon {
      transform: scale(-1, 1);
    }
  }

  &:nth-child(2) {
    justify-content: flex-start;
    padding-left: 0.8rem;
  }

  .icon {
    width: 3.2rem;
    height: 1.6rem;
    color: var(--color-white);
  }
}

.swiper-linear .swiper-wrapper {
  transition-timing-function: linear;
}
