section.about.section(id="danit")
  .about__container
    .about__container-block
    .about__container-block.lazyload(data-bg="assets/images/about/bg.jpg")
  .site-container.about__grid-content.js-anim-fade-out
    ._block
      .about__heading._dark.site-heading
        h2 О нас
      .about__text
        p Более 7 лет-опыт работы в АПК
        p Более 60-ти квалифицированных специалистов
        p Надежный партнер в ОАЭ
      a(href="#contacUs" class="button about__btn") Связаться с нами
    ._block
