-
  const careofList = [
    "Selection of supplier and products according to your requirements",
    "Negotiating the best price",
    "Product logistics",
  ]

section.careof.js-anim-fade-out
  .site-container.careof__container
    .site-heading._dark.careof__heading
      h2 We take care of
    .careof__list
      for item in careofList
        .careof__item
          img.lazyload(data-src="assets/images/careof/img1.svg" src="#" alt="")
          p= item
