section.section.geo
  .site-container.js-anim-fade-out
    h2.geo__heading.site-heading.site-line._dark География импорта
    .geo__container
      ._block
        img(src="assets/images/map.svg" alt="" class="geo__slider-bg")
        .geo__slider.swiper.js-geo-slider
          .swiper-wrapper
            .geo__slider-item.swiper-slide
              img(src="assets/images/plane.png" alt="" class="geo__slider-img")
            .geo__slider-item.swiper-slide
              img(src="assets/images/ship1.png" alt="" class="geo__slider-img")
            .geo__slider-item.swiper-slide
              img(src="assets/images/car.png" alt="" class="geo__slider-img")
        span.geo__text *от Х до Х дней
      ._block
        p.geo__heading-legend Мы импортируем товары со всего мира напрямую с заводов производителей и официальных поставщиков
        h3.geo__legend Варианты логистики
        ul.geo__thumb-slider
          span.geo__thumb-flag
          li.geo__thumb-item
            button.geo__thumb-btn Cамолётом
          li.geo__thumb-item
            button.geo__thumb-btn Кораблем
          li.geo__thumb-item
            button.geo__thumb-btn Автотранспортом
        p.geo__text Закупка товаров производится без упоминания клиента в РФ



