section.howitworks.section
  .howitworks__container
    .howitworks__container-block
    .howitworks__container-block.lazyload(data-bg="assets/images/howitworks/bg.jpg")
      ._flag
  .site-container.howitworks__content.js-anim-fade-out(data-intersection-ratio="0.1")
    .howitworks__grid-content
      ._block
        .site-heading.howitworks__heading
          h2 How it works
        ul
          li
            p Filling out the request
          li
            p Selection of a supplier and elaboration of a price offer
          li
            p Discussion of delivery terms and other conditions
          li
            p Conclusion of deal and payment directly to the supplier
          li
            p Goods delivery
      ._block

