section.howitworks.section
  .howitworks__container
    .howitworks__container-block
    .howitworks__container-block.lazyload(data-bg="assets/images/howitworks/bg.jpg")
  .site-container.howitworks__content.js-anim-fade-out(data-intersection-ratio="0.1")
    .howitworks__grid-content
      ._block
        .site-heading.howitworks__heading._black.site-line
          h2 Схемы работы
        ul
          li
            p Оформление заявки
          li
            p Просчёт ценового предложения и подготовка условий поставки
          li
            p Заключение договора
          li
            p Оплата поставки
          li
            p Перевозка
          li
            p Товар у вас
        a.howitworks__btn.button(href="#contactUs") Оформление заявки
      ._block

