section.intro(style="background-image: url(assets/images/intro/intro-bg.jpg)")
  .site-container
    .intro__heading-container.intro__grid-container
      ._block
      ._block.intro-heading-content
        p
          | What we can do for agriculture?
        p
          | #[span Everything]
    .intro__content-container.intro__grid-container
      ._block
        .intro-content
          p
            | We are here to support agriculture producers
            | and to provide an opportunity to purchase agricultural
            | and food products of the highest quality at the best prices
      ._block
        a.button.intro__btn(href="#contactUs") Fill the request

