section.intro(style="background-image: url(assets/images/intro/intro-bg.jpg)")
  .site-container
    .intro__heading
      h1 Импортируем товары со всего мира через&nbsp;ОАЭ
    a.button.intro__btn(href="#contactUs") Оставить заявку
