section.intro
  .site-container.intro__container
    span.intro__sublegend STAY TUNED WE ARE
    h1.intro__legend Coming soon
    a(href="assets/files/import_UAE.pdf" target="_blank" class="intro__link button") LEARN MORE

