section.contact-us(id="contactUs")
  .site-container.contact-us__container.js-anim-fade-out(data-intersection-ratio="0")
    .site-heading.contact-us__heading._dark
      h2 Контакты
    .contact-us__grid-container
      ._block
        form.contact-us__form.form(data-need-validation)
          h3.form__heading Заявка
          .form__inpts-container
            label.form__inpt-container
              input.form__input(type="text" name="name" placeholder="ФИО:" data-parsley-required)
            label.form__inpt-container
              input.form__input(type="text" name="company" placeholder="Компания:")
            label.form__inpt-container
              input.form__input(type="number" name="phone" placeholder="Телефон:" data-parsley-required style="-moz-appearance: textfield")
            label.form__inpt-container
              input.form__input(type="email" name="e-mail" placeholder="Эл. почта:" data-parsley-required)
          button.button.mod-white.form__btn Отправить
          p.form__argeement
            | * Нажимая на кнопку отправить запрос, вы соглашаетесь с нашими условиями  #[a(href="/") политики конфиденциальности]
        .contact-us__know-more-wrapper._mobile
          a(href="/" class="contact-us__know-more")
            span.contact-us__know-more-text Стать экспортером
            span.contact-us__know-more-icon
          a(href="/" class="contact-us__know-more")
            span.contact-us__know-more-text IT в сельском хозяйстве
            span.contact-us__know-more-icon
      ._block
        .contact-us__item
          span.contact-us__legend Узнать больше о&nbsp;наших услугах
          a(href="mailto:info@tech-import.com" class="contact-us__link") info@tech-import.com
        .contact-us__item
          span.contact-us__legend Специалист Вэд
          span.contact-us__legend._green Замалиева Диана
          a(href="tel:+971509339531" class="contact-us__link") Тел.: +971 50 933 9531 (UAE)
          a(href="tel:+79274003315" class="contact-us__link") Тел.: +7 927 400 33 15 (RUSSIA)
          a(href="mailto:diana.z@tech-import.com" class="contact-us__link") E-mail: diana.z@tech-import.com
        ul.socials.contact-us__socials
          li.socials__item
            a.socials__link(href="/")
              +icon-mono("in")(width="32" height="32" class="socials__link-icon")
          li.socials__item
            a.socials__link(href="/")
              +icon-mono("wa")(width="32" height="32" class="socials__link-icon")
        .contact-us__know-more-wrapper
          a(href="/" class="contact-us__know-more")
            span.contact-us__know-more-text Стать экспортером
            span.contact-us__know-more-icon
          a(href="/" class="contact-us__know-more")
            span.contact-us__know-more-text IT в сельском хозяйстве
            span.contact-us__know-more-icon
