footer.footer
  .site-container.footer__container
    .footer__block
      p.footer__text All right reserved 2022
      a.footer__text(href="/") Privacy policy
    .footer__block
      ul.socials.footer__socials
        li.socials__item
          a.socials__link(href="/")
            +icon-mono("in")(width="32" height="32" class="socials__link-icon")
        li.socials__item
          a.socials__link(href="/")
            +icon-mono("wa")(width="32" height="32" class="socials__link-icon")
