header.header
  .site-container.header__grid-container
    .header__grid-container-block

      a(href="/" class="header__logo")
        img(src="assets/images/logo.svg" alt="Company Logo")

    .header__grid-container-block

      nav.header__nav
        ul.header__nav-list
          li.header__nav-item
            a(href="#danit" class="header__nav-link") Danit
          li.header__nav-item
            a(href="#import" class="header__nav-link") Import

    .header__grid-container-block
      a.button.header__btn(href="#contactUs") Contact
      button.header__burger-btn.js-menu-btn
        span
        span
        span
