.menu.js-menu
  .site-container.menu__container
    .menu__heading
      a(href="" class="menu__logo")
        img(src="assets/images/logo.svg" alt="Company Logo")
      button.menu__btn.js-menu-btn-close
        span
        span
    a(href="#danit" class="menu__link-nav") Danit
    a(href="#import" class="menu__link-nav") Import
    span.menu__legend._fw Contact Us
    .menu__item
      span.menu__legend Want to know more about BI in agriculture?
      a(href="mailto:info@danit.ae" class="menu__link") info@danit.ae
    .menu__item
      span.menu__legend Foreign Trade Manager
      span.menu__legend Svetlana Zorina
      a(href="tel:+971509339531" class="menu__link") +971 50 9339531
      a(href="mailto:Svetlana.z@danit.ae" class="menu__link") Svetlana.z@danit.ae
    ul.socials.menu__socials
      li.socials__item
        a.socials__link(href="/")
          +icon-mono("in")(width="32" height="32" class="socials__link-icon")
      li.socials__item
        a.socials__link(href="/")
          +icon-mono("wa")(width="32" height="32" class="socials__link-icon")
