.menu.js-menu
  .site-container.menu__container
    .menu__heading
      a(href="" class="menu__logo")
        img(src="assets/images/logo.svg" alt="Company Logo")
      button.menu__btn.js-menu-btn-close
        span
        span
    a(href="#danit" class="menu__link-nav") Danit
    a(href="#import" class="menu__link-nav") Импорт
    span.menu__legend._fw Контакты
    .menu__item
      span.menu__legend Узнать больше о наших услугах
      a(href="mailto:info@tech-import.com" class="menu__link") info@tech-import.com
    .menu__item
      span.menu__legend Специалист Вэд
      span.menu__legend Замалиева Диана
      a(href="tel:+971509339531" class="menu__link") Тел.: +971 50 933 9531 (UAE)
      a(href="tel:+971509339531" class="menu__link") Тел.: +7 927 400 33 15 (RUSSIA)
      a(href="mailto:Svetlana.z@danit.ae" class="menu__link") E-mail: diana.z@tech-import.com
    ul.socials.menu__socials
      li.socials__item
        a.socials__link(href="/")
          +icon-mono("in")(width="32" height="32" class="socials__link-icon")
      li.socials__item
        a.socials__link(href="/")
          +icon-mono("wa")(width="32" height="32" class="socials__link-icon")
