.button {
  padding: 1.8rem 6.5rem;
  background-color: var(--color-green);
  color: var(--color-white);
  font: 500 1.6rem/2.3rem var(--main-ff);
  text-transform: uppercase;
  clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
  transition: background-color 200ms, color 200ms;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-green);
  }

  &._dark {
    background-color: var(--color-dark);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-green);
    }
  }
}
