.button {
  padding: 1.8rem 6.3rem;
  background-color: var(--color-green);
  color: var(--color-white);
  font: var(--font-s);
  text-transform: uppercase;
  clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
  transition: background-color var(--transition), color var(--transition);

  &.mod-white {
    background-color: var(--color-white);
    color: var(--color-dark-blue);

    &:hover {
      background-color: var(--color-dark-blue);
      color: var(--color-white);
    }
  }

  &:hover {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
  }
}
