.contact-us {
  padding-bottom: 10.3rem;

  @include mq(sm) {
    padding-bottom: 6rem;
  }

  &__heading {
    color: var(--color-green);
    margin-bottom: 4.5rem;

    @include mq(sm) {
      margin-bottom: 2.1rem;
    }
  }

  &__grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);

    @include mq(sm) {
      grid-template-columns: repeat(4, 1fr);
      gap: var(--grid-gap) 0;
    }

    ._block {
      &:nth-child(1) {
        grid-column: 7 span;
      }

      &:nth-child(2) {
        grid-column: 5 span;
        display: flex;
        flex-direction: column;
      }

      @include mq(sm) {
        grid-column: 4 span !important;

        &:nth-child(1) {
          order: 2;
        }

        &:nth-child(2) {
          grid-column: 1;
        }
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 39.2rem;
    margin-bottom: 6.6rem;

    @include mq(sm) {
      margin-bottom: 2.4rem;
    }

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
  }

  &__legend {
    display: block;
    font: var(--font-l);
    color: var(--color-dark-blue);

    @include mq(sm) {
      font: var(--font-s);
      font-weight: 700;
    }

    &._green {
      color: var(--color-green);
    }
  }

  &__link {
    color: var(--color-green);

    @include mq(sm) {
      font: var(--font-xs);
    }
  }

  &__know-more {
    display: inline-block;
    text-align: center;
    color: var(--color-white);
    padding: 3.1rem 2.9rem;
    background-color: var(--color-green);
    align-self: flex-start;
    clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
    margin-top: auto;

    &._mobile {
      display: none;
    }

    @include mq(sm) {
      display: none;

      &._mobile {
        display: inline-block;
        margin-top: 5rem;
        width: 100%;
        padding: 3rem 2.6rem;
      }
    }
  }

  &__know-more-text {
    display: block;
    max-width: 23.1rem;

    @include mq(sm) {
      max-width: 100%;
    }
  }

  &__know-more-icon {
    position: relative;
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: var(--color-white);
    margin-top: 1.1rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 0 3px 5px;
      border-color: transparent transparent transparent #fff;
    }
  }

  &__socials {
    display: none;

    @include mq(sm) {
      display: flex;
      margin-top: 2.4rem;
    }
  }
}
