.footer {
  padding-bottom: 7.5rem;

  @include mq(sm) {
    padding-bottom: 3.7rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__small-legend {
    display: block;
    font: 500 2rem/3rem var(--main-ff);
    color: var(--color-green);
    margin-bottom: 0.7rem;

    @include mq(sm) {
      font: 500 1.4rem/2rem var(--main-ff);
      margin-bottom: 0.7rem;
    }
  }

  &__link {
    font: 500 2rem/3rem var(--main-ff);
    color: var(--color-white);

    &:hover {
      text-decoration: underline;
    }

    @include mq(sm) {
      font: 500 1.4rem/2rem var(--main-ff);
    }
  }
}
