.form {
  width: 100%;
  padding: 4.5rem 7.1rem;
  color: var(--color-white);
  background-color: var(--color-green);

  @include mq(md) {
    padding: 4.5rem;
  }

  @include mq(sm) {
    padding: 4rem 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }

  &__heading {
    font: var(--font-l);
    margin-bottom: 3rem;

    @include mq(sm) {
      font: var(--font-s);
      font-weight: 700;
      text-align: center;
      align-self: stretch;
    }
  }

  &__inpt-container {
    display: block;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
    margin-bottom: 2.8rem;

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
  }

  &__input {
    width: 100%;
    height: 4.8rem;
    color: var(--color-white);
    font: var(--font-xs);

    @include placeholder() {
      color: rgba($color: #fff, $alpha: 0.3);
      font: var(--font-xs);
    }
  }

  &__inpts-container {
    margin-bottom: 6.7rem;

    @include mq(sm) {
      align-self: stretch;
    }
  }

  &__btn {
    margin-bottom: 2.2rem;
    padding: 1.7rem 10.5rem;

    @include mq(sm) {
      padding-left: 100%;
      margin-left: -100%;
      width: auto;
      text-align: center;
      display: block;
      align-self: stretch;
    }
  }

  &__argeement {
    font: var(--font-xs);
    text-transform: uppercase;
    max-width: 47rem;

    a {
      font-weight: 700;
    }
  }
}
