.header {
  padding-top: 7.5rem;

  @include mq(sm) {
    padding-top: 3.7rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    display: flex;
    width: 31.2rem;
    height: auto;
    margin-bottom: 2rem;

    @include mq(sm) {
      width: 13.2rem;
    }
  }
}
