.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: var(--header-height);
  background-color: rgba($color: #253745, $alpha: 0.19);
  display: flex;
  align-items: center;

  &__grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);

    @include mq(md) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__grid-container-block {
    align-self: center;

    &:nth-child(1) {
      grid-column: 5 span;
    }

    &:nth-child(2) {
      grid-column: 3 span;
    }

    &:nth-child(3) {
      grid-column: 4 span;
    }

    @include mq(md) {
      &:nth-child(2) {
        display: none;
      }

      &:nth-child(1),
      &:nth-child(3) {
        grid-column: 2 span;
      }
    }
  }

  &__logo {
    max-width: 20.5rem;
    display: block;

    img {
      width: 100%;
      height: auto;
    }

    @include mq(sm) {
      max-width: 11.4rem;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 4.8rem;
  }

  &__nav-link {
    color: var(--color-white);
  }

  &__btn {
    @include mq(md) {
      display: none;
    }
  }

  &__burger-btn {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    width: 3rem;
    height: 3rem;
    margin-left: auto;

    @include mq(md) {
      display: flex;
    }

    span {
      display: block;
      width: 100%;
      height: 0.2rem;
      background-color: var(--color-white);
    }
  }
}
