.about {
  position: relative;
  z-index: 1;
  background-color: var(--color-grey);
  padding-top: 9rem;
  padding-bottom: 18.8rem;
  color: var(--color-dark-blue);

  @include mq(md) {
    color: var(--color-white);
  }

  @include mq(sm) {
    padding-top: 4rem;
    padding-bottom: 11rem;
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    height: 100%;
  }

  &__container-block {
    &:nth-child(1) {
      width: 56%;
    }

    &:nth-child(2) {
      position: relative;
      width: 44%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(37, 55, 69, 0.8);
        content: "";
      }
    }

    @include mq(md) {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        width: 100%;

        ._flag {
          display: none;
        }
      }
    }
  }

  &__grid-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);

    @include mq(md) {
      position: relative;
      z-index: 3;
      display: block;
    }

    ._block {
      grid-column: 6 span;
    }
  }

  &__heading {
    position: relative;
    margin-bottom: 9rem;
    display: inline-block;

    &::before {
      position: absolute;
      top: 61%;
      left: calc(100% + 1.9rem);
      width: 7.4rem;
      height: 0.4rem;
      background: linear-gradient(90deg, #52A863 1.2%, #2AB7FF 102.89%);
      transform: translateY(-50%);
      content: "";
    }

    @include mq(md) {
      color: var(--color-white) !important;
    }

    @include mq(sm) {
      margin-bottom: 3.7rem;
    }
  }

  &__text {
    position: relative;
    margin-bottom: 6.8rem;
    text-transform: uppercase;
    padding-left: 3.3rem;

    &::before {
      position: absolute;
      top: 0.6rem;
      left: 0;
      width: 0.7rem;
      height: 94%;
      background-color: var(--color-green);
      content: "";
    }

    p {
      margin-bottom: 4.7rem;

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
    }

    @include mq(sm) {
      font: var(--font-xxs);
      padding-left: 1.4rem;
      margin-bottom: 12.5rem;

      &::before {
        width: 0.3rem;
        top: 0.4rem;
      }

      p {
        margin-bottom: 2.2rem;
        text-transform: uppercase;
      }
    }
  }

  &__btn {
    padding: 1rem 4.5rem;
  }
}
