.intro {
  min-height: 72rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: calc(var(--header-height) + 10rem);
  padding-bottom: 5rem;

  @include mq(md) {
    min-height: 0;
    padding-top: calc(var(--header-height) + 7rem);
    padding-bottom: 7rem;
  }

  @include mq(sm) {
    padding-top: calc(var(--header-height) + 6rem);
    padding-bottom: 8.5rem;
  }

  &__heading {
    position: relative;
    font: var(--font-xxl);
    line-height: 141.36%;
    max-width: 75.3rem;
    padding-left: 3.5rem;
    margin-bottom: 7.5rem;

    &::before {
      position: absolute;
      top: 2.2rem;
      left: 0;
      width: 0.7rem;
      height: 84%;
      background-color: var(--color-green);
      content: "";
    }
  }

  &__btn {
    padding: 1.7rem 9rem;
  }
}
