include ../data/config.pug
include ../mixins/**/*.pug

block variables

doctype html
html(lang=siteLang)
  head
    include ../parts/head.pug
  body._rus(class=bodyClass)
    .page-wrapper._rus
      block header
        include ../parts/header.pug

      block content

      block footer
        include ../parts/footer_rus.pug

    //- .modal
    //-   include ../parts/modals/modal.pug

  block scripts
    //- script(src="assets/js/main.js?v=" + siteVersion)
    //- script(src="assets/js/backend.js?v=" + siteVersion)
