:root {
  // Typography
  --main-ff: "ArtegraSans", sans-serif;

  // colors
  --color-green: #52A863;
  --color-grey: #F4F4F4;
  --color-dark-blue: #253745;
  --color-white: #fff;
  --color-bg: var(--color-white);

  // fonts
  --font-xxl: 700 5.2rem/7.9rem var(--main-ff);
  --font-xl: 700 4.3rem/6.5rem var(--main-ff);
  --font-l: 400 3rem/4.2rem var(--main-ff);
  --font-m: 400 2rem/2.8rem var(--main-ff);
  --font-s: 400 1.6rem/2.2rem var(--main-ff);
  --font-xs: 400 1.4rem/2rem var(--main-ff);
  --font-xxs: 400 1.2rem/1.7rem var(--main-ff);

  // etc
  --transition: 200ms;
  --header-height: 11.9rem;
  --grid-gap: 3.2rem;
}

@import "./helpers/**/*";
@import './vendor/**/*';
@import "./settings/**/*";
@import "./UI/**/*";
@import './pages/**/*';


@include mq(sm) {
  :root {
    --header-height: 6.9rem;
    --grid-gap: 2.4rem;
  }
}
