:root {
  // Typography
  --main-ff: "Roboto", sans-serif;

  // colors
  --color-dark: #313131;
  --color-bg: var(--color-dark);
  --color-white: #fff;
  --color-green: #52A863;
}

@import "./helpers/**/*";
@import './vendor/**/*';
@import "./settings/**/*";
@import "./UI/**/*";
@import './pages/**/*';
